/*colors*/

$red: red;
$black: black;
$silver: silver;
$white: white;
$coral: coral;

/*font-size*/

$h1: 48px;
$h1-mobile: 26px;
$h2: 34px;
$h3: 28px;

$p: 18px;
$link: 20px;

/*flex*/
$d-flex: flex;

$br: 6px;